
@{
    Layout = "~/Views/RSMater.cshtml";
}
<div class="pageheader">
    <h2><i class="fa fa-home">万亿科技有限公司</i> 员工离职</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="index.html">员工离职</a><span class="badge" style="background-color:red">1</span></li>
            <li><a href="index.html">离职审核结果</a></li>
        </ol>
    </div>
    <h3>人事部请假管理</h3>
    <div style="float:left">
    </div>
    <div style="margin-left:300px;float:left;margin-top:-40px;">
    </div>

    <div style="margin-top:70px;">
        <table class="table table-head-alt">
            <tr>
                <th style="color:#5ad1a9">工号</th>
                <th style="color:#5ad1a9">姓名</th>
                <th style="color:#5ad1a9">部门</th>
                <th style="color:#5ad1a9">提交时间</th>
                <th style="color:#5ad1a9">离职原因</th>
                <th style="color:#5ad1a9">状态</th>
                <th style="color:#5ad1a9">详情</th>
            </tr>
            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                        <td>@item</td>
                    </tr>
                }*@

        </table>
    </div>
</div>